<html>
<head>
  <script type="text/javascript" src="angular.min.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-app="careersApp" ng-controller="JobCtrl">

  	<!--<div class="pure-g-r" ng-repeat="job in jobs.feed.entry">
  		<div class="pure-u-3-4 position">
  			<a href="{{job.gsx$url.$t}}">
		    	<p><b>{{job.gsx$position.$t}}</b></p>
		    </a>
		    <p>{{job.gsx$description.$t}}</p>
    	</div>
  	</div>-->

    <p ng-repeat="park in parks">
      {{park.park_name}}
    </p>

</body>
</html>



